name: smartassistant_vendedor
description: App de CRM para el equipo de ventas de SmartAssistant.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  provider: ^6.0.0
  
  http: ^1.0.0
  flutter_secure_storage: ^9.0.0
  
  onesignal_flutter: ^5.0.0
  
  mobile_scanner: ^5.1.1
  url_launcher: ^6.0.0
  
  intl: ^0.18.0
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/